extends layout

block content
  h1= title
  p Paso de Avance
  audio(preload="auto", autobuffer, controls)
    source(src="../sounds/pasoDeAvance_beta4.ogg")
  script. 
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60260821-1', 'auto');
    ga('send', 'pageview');

